//---------------------------------------------------------------------------
//
//  Module: tty.rc
//
//  Purpose:
//     TTY resource definitions
//
//  Development Team:
//     Bryan A. Woodruff
//
//  History:   Date       Author      Comment
//              5/ 9/91   BryanW      Wrote it
//
//---------------------------------------------------------------------------
//
//  Written by Microsoft Product Support Services, Windows Developer Support.
//  Copyright (c) 1991 Microsoft Corporation.  All Rights Reserved.
//
//---------------------------------------------------------------------------

#include <windows.h>

#include "resource.h"

TTYICON ICON     nabu.ico

TTYMENU MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    POPUP "&Action"
    BEGIN
        MENUITEM "&Connect\tShift+PgUp",        IDM_CONNECT
        MENUITEM "&Disconnect\tShift+PgDn",     IDM_DISCONNECT
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_EXIT
    END
END


//////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

TTYACCEL ACCELERATORS
BEGIN
  VK_PRIOR, IDM_CONNECT, VIRTKEY, SHIFT
  VK_NEXT, IDM_DISCONNECT, VIRTKEY, SHIFT
END


//---------------------------------------------------------------------------
//  End of File: tty.rc
//---------------------------------------------------------------------------
